<div class="w-full flex md:flex-row flex-col content-start">
    <div class="md:w-2/3 w-full flex flex-wrap items-center gap-3 content-start">
        <h2 class="text-lg font-bold">Overview</h2>
        <div class="w-full flex flex-row gap-3">
            <div class="md:flex-1 w-full py-6 px-4 bg-white border border-solid rounded shadow flex flex-row">
                <div class="flex-1">
                    <h2 class="text-xs font-semibold mb-2">63</h2>
                    <h2 class="text-sm text-gray-700 font-extrabold">Doctors</h2>
                </div>
                <div class="flex-1 text-end flex items-center justify-end">
                    <span class="material-symbols-outlined text-4xl text-teal-800">stethoscope</span>
                </div>
            </div>
            <div class="md:flex-1 w-full py-6 px-4 bg-white border border-solid rounded shadow flex flex-row">
                <div class="flex-1">
                    <h2 class="text-xs font-semibold mb-2">340</h2>
                    <h2 class="text-sm text-gray-700 font-extrabold">Nurse</h2>
                </div>
                <div class="flex-1 text-end flex items-center justify-end">
                    <span class="material-symbols-outlined text-4xl text-green-300">syringe</span>
                </div>
            </div>
            <div class="md:flex-1 w-full py-6 px-4 bg-white border border-solid rounded shadow flex flex-row">
                <div class="flex-1">
                    <h2 class="text-xs font-semibold mb-2">460</h2>
                    <h2 class="text-sm text-gray-700 font-extrabold">Patient</h2>
                </div>
                <div class="flex-1 text-end flex items-center justify-end">
                    <span class="material-symbols-outlined text-4xl text-red-900">favorite</span>
                </div>
            </div>
        </div>
        <div class="w-full flex flex-row gap-3">
            <div class="md:flex-1 w-full py-6 px-4 bg-white border border-solid rounded shadow flex flex-row">
                <div class="flex-1">
                    <h2 class="text-xs font-semibold mb-2">60</h2>
                    <h2 class="text-sm text-gray-700 font-extrabold">Pharmacists</h2>
                </div>
                <div class="flex-1 text-end flex items-center justify-end">
                    <span class="material-symbols-outlined text-4xl text-cyan-700">pill</span>
                </div>
            </div>
            <div class="md:flex-1 w-full py-6 px-4 bg-white border border-solid rounded shadow flex flex-row">
                <div class="flex-1">
                    <h2 class="text-xs font-semibold mb-2">60</h2>
                    <h2 class="text-sm text-gray-700 font-extrabold">Laboratorists</h2>
                </div>
                <div class="flex-1 text-end flex items-center justify-end">
                    <span class="material-symbols-outlined text-4xl text-blue-400">hematology</span>
                </div>
            </div>
            <div class="md:flex-1 w-full py-6 px-4 bg-white border border-solid rounded shadow flex flex-row">
                <div class="flex-1">
                    <h2 class="text-xs font-semibold mb-2">40</h2>
                    <h2 class="text-sm text-gray-700 font-extrabold">Accountants</h2>
                </div>
                <div class="flex-1 text-end flex items-center justify-end">
                    <span class="material-symbols-outlined text-4xl text-teal-400">paid</span>
                </div>
            </div>
        </div>
        <div class="w-full flex flex-row gap-3">
            <div class="md:flex-1 w-full py-6 px-4 bg-white border border-solid rounded shadow flex flex-row">
                <div class="flex-1">
                    <h2 class="text-xs font-semibold mb-2">800</h2>
                    <h2 class="text-sm text-gray-700 font-extrabold">Operations</h2>
                </div>
                <div class="flex-1 text-end flex items-center justify-end">
                    <span class="material-symbols-outlined text-4xl text-lime-400">cut</span>
                </div>
            </div>
            <div class="md:flex-1 w-full py-6 px-4 bg-white border border-solid rounded shadow flex flex-row">
                <div class="flex-1">
                    <h2 class="text-xs font-semibold mb-2">958</h2>
                    <h2 class="text-sm text-gray-700 font-extrabold">Birth Report</h2>
                </div>
                <div class="flex-1 text-end flex items-center justify-end">
                    <span class="material-symbols-outlined text-4xl text-orange-400">child_care</span>
                </div>
            </div>
            <div class="md:flex-1 w-full py-6 px-4 bg-white border border-solid rounded shadow flex flex-row">
                <div class="flex-1">
                    <h2 class="text-xs font-semibold mb-2">960</h2>
                    <h2 class="text-sm text-gray-700 font-extrabold">Death Report</h2>
                </div>
                <div class="flex-1 text-end flex items-center justify-end">
                    <span class="material-symbols-outlined text-4xl text-red-400">tablet</span>
                </div>
            </div>
        </div>
        <div class="mt-4 w-full flex flex-wrap mr-auto p-4 rounded bg-white shadow">
            <div class="flex-1 p-4 flex flex-row">
                <div class="w-24 h-24 rounded-full bg-green-400 mx-auto"></div>
                <div class="flex-1 flex flex-col">
                    <div class="flex-1 mx-4">
                        <h5 class="text-xs font-bold text-blue-500">France</h5>
                    </div>
                    <div class="flex-1 mx-4">
                        <h5 class="text-xs font-bold text-lime-500">Canada</h5>
                    </div>
                    <div class="flex-1 mx-4">
                        <h5 class="text-xs font-bold text-orange-500">Brazil</h5>
                    </div>
                    <div class="flex-1 mx-4">
                        <h5 class="text-xs font-bold text-cyan-500">Qatar</h5>
                    </div>
                </div>
            </div>
            <div class="flex-1 p-4 flex flex-row">
                <div class="w-24 h-24 rounded-full bg-green-400 mx-auto"></div>
                <div class="flex-1 flex flex-col">
                    <div class="flex-1 mx-4">
                        <h5 class="text-xs font-bold text-blue-500">France</h5>
                    </div>
                    <div class="flex-1 mx-4">
                        <h5 class="text-xs font-bold text-lime-500">Canada</h5>
                    </div>
                    <div class="flex-1 mx-4">
                        <h5 class="text-xs font-bold text-orange-500">Brazil</h5>
                    </div>
                    <div class="flex-1 mx-4">
                        <h5 class="text-xs font-bold text-cyan-500">Qatar</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md:flex-1 w-full p-3">
        <h2 class="text-lg font-bold">Budget Report</h2>
        <div class="w-full flex flex-wrap p-3 bg-white shadow rounded mt-3">
            <h3 class="text-sm font-bold">IPH Hospital USA</h3>
            <div class="h-48"></div>
            <div class="w-full flex flex-row border-solid border-t py-2">
                <div class="flex-1">
                    <h4 class="text-sm font-bold text-stone-500">Quarter Budget</h4>
                </div>
                <div class="flex-1 text-end">
                    <h4 class="text-sm font-bold text-teal-500">$35, 500</h4>
                </div>
            </div>
        </div>
        <h3 class="text-sm font-bold my-4">Branches of IPH Hospitals</h3>
        <div class="w-full flex flex-wrap p-3 bg-white shadow rounded mt-3">
            <h3 class="text-sm font-bold">Worldwide</h3>
            <div class="h-48 mt-2"></div>
        </div>
    </div>
</div>