<div class="w-full flex flex-wrap">
    <div class="md:flex-1 w-full py-4 md:border-r-2">
        <div class="flex flex-row md:justify-start justify-center p-0">
            <h2 class="text-lg font-bold text-gray-400 uppercase">Balance</h2>
        </div>
        <div class="flex flex-row md:justify-start justify-center p-0">
            <h3 class="text-xl flex items-center font-semibold uppercase mt-2 md:mr-0 mr-12">
                <span class="material-symbols-outlined text-md">attach_money</span>5900.00
            </h3>
        </div>
    </div>
    <div class="md:flex-1 w-full md:text-start text-center py-4 px-6 md:border-r-2">
        <div class="flex flex-row md:justify-start justify-center p-0">
            <h2 class="text-lg font-bold text-gray-400 uppercase">Profits</h2>
        </div>
        <div class="flex flex-row md:justify-start justify-center">
            <h3 class="text-xl flex items-center font-semibold uppercase mt-2">
                <span class="material-symbols-outlined text-md">attach_money</span>5900.00
                <span class="material-symbols-outlined text-teal-300 text-md">arrow_drop_up</span>
                <span class="material-symbols-outlined text-teal-300 text-sm">add</span>
                <span class="text-sm text-teal-300 font-medium">56%</span>
            </h3>
        </div>
    </div>
    <div class="md:flex-1 w-full md:text-start text-center py-4 px-6 md:border-r-2">
        <h2 class="text-lg font-bold text-gray-400 uppercase">Losses</h2>
        <div class="flex flex-row md:justify-start justify-center">
            <h3 class="text-xl flex items-center font-semibold mt-2">
                <span class="material-symbols-outlined text-md">attach_money</span>5900.00
                <span class="material-symbols-outlined text-red-500 text-md">arrow_drop_down</span>
                <span class="material-symbols-outlined text-red-300 text-sm">remove</span>
                <span class="text-sm text-red-500 font-medium">56%</span>
            </h3>
        </div>
    </div>
    <div class="md:flex-1 w-full md:text-start text-center py-4 px-6">
        <h2 class="text-lg font-bold text-gray-400 uppercase">Currencies</h2>
        <div class="flex flex-row md:justify-start justify-center mt-4">
            <div class="md:w-1/6 w-1/5 flex md:justify-between justify-center">
                <div class="h-7 w-7 rounded-full bg-gray-300 flex justify-center items-center">
                    <span class="material-symbols-outlined text-sm text-blue-500">
                        currency_bitcoin
                    </span>
                </div>
            </div>
            <div class="md:w-1/6 w-1/5 flex md:justify-between justify-center">
                <div class="h-7 w-7 rounded-full bg-gray-300 flex justify-center items-center">
                    <span class="material-symbols-outlined text-sm text-blue-500">
                        attach_money
                    </span>
                </div>
            </div>
            <div class="md:w-1/6 w-1/5 flex md:justify-between justify-center">
                <div class="h-7 w-7 rounded-full bg-gray-300 flex justify-center items-center">
                    <span class="material-symbols-outlined text-sm text-blue-500">
                        euro_symbol
                    </span>
                </div>
            </div>
            <div class="md:w-1/6 w-1/5 flex md:justify-between justify-center">
                <div class="h-7 w-7 rounded-full bg-gray-300 flex justify-center items-center">
                    <span class="material-symbols-outlined text-sm text-blue-500">
                        currency_yen
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-full flex md:flex-row flex-col py-5 bg-white rounded-lg shadow-lg mt-6 mb-6 mx-auto gap-4">
    <div class="p-4 flex-1 flex flex-col">
        <div class="w-full flex justify-center">
            <h3 class="text-sm font-medium mx-auto">Italy</h3>
        </div>
        <div class="w-full flex justify-center">
            <h2 class="text-xl font-medium">475
                <span class="material-symbols-outlined text-md text-red-500">
                    arrow_drop_up
                </span>
            </h2>
        </div>
    </div>
    <div class="p-4 flex-1 flex flex-col">
        <div class="w-full flex justify-center">
            <h3 class="text-sm font-medium">United States</h3>
        </div>
        <div class="w-full flex justify-center">
            <h2 class="text-xl font-medium">431
                <span class="material-symbols-outlined text-md text-blue-500">
                    arrow_drop_down
                </span>
            </h2>
        </div>
    </div>
    <div class="p-4 flex-1 flex flex-col">
        <div class="w-full flex justify-center">
            <h3 class="text-sm font-medium">Canada</h3>
        </div>
        <div class="w-full flex justify-center">
            <h2 class="text-xl font-medium">174
                <span class="material-symbols-outlined text-md text-red-500">
                    arrow_drop_down
                </span>
            </h2>
        </div>
    </div>
    <div class="p-4 flex-1 flex flex-col text-center">
        <div class="w-full flex justify-center">
            <h3 class="text-sm font-medium">Spain</h3>
        </div>
        <div class="w-full flex justify-center">
            <h2 class="text-xl font-medium">475
                <span class="material-symbols-outlined text-md text-blue-500">
                    arrow_drop_up
                </span>
            </h2>
        </div>
    </div>
    <div class="p-4 flex-1 flex flex-col text-center">
        <div class="w-full flex justify-center">
            <h3 class="text-sm font-medium">Japan</h3>
        </div>
        <div class="w-full flex justify-center">
            <h2 class="text-xl font-medium">134
                <span class="material-symbols-outlined text-md text-blue-500">
                    arrow_drop_up
                </span>
            </h2>
        </div>
    </div>
    <div class="p-4 flex-1 flex flex-col text-center">
        <div class="w-full flex justify-center">
            <h3 class="text-sm font-medium">South Africa</h3>
        </div>
        <div class="w-full flex justify-center">
            <h2 class="text-xl font-medium">471
                <span class="material-symbols-outlined text-md text-red-500">
                    arrow_drop_down
                </span>
            </h2>
        </div>
    </div>
</div>
<div class="w-full flex md:flex-row flex-col items-start gap-4">
    <div class="md:flex-1 w-full flex flex-wrap py-3">
        <div class="w-full flex flex-row mb-3">
            <div class="flex-1 flex items-center justify-start p-1">
                <h2 class="text-xl font-medium">Team Members</h2>
            </div>
            <div class="flex-1 flex items-center justify-end text-end p-1">
                <a class="text-sm text-blue-500 font-medium" href="">View all</a>
            </div>
        </div>
        <div class="w-full flex flex-col p-1">
            <div class="w-full flex flex-row p-3 shadow rounded bg-white mb-2">
                <div class="flex-1 flex items-center">
                    <img class="h-6 w-6 rounded-full mr-1"
                        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
                    <h4 class="font-medium text-sm">Andrew Johnstons</h4>
                </div>
                <div class="flex-1 flex items-center justify-end">
                    <button class="py-1 px-2 bg-cyan-100 text-xs font-semibold text-cyan-400 rounded-lg">Top
                        Trader</button>
                </div>
            </div>
            <div class="w-full flex flex-row p-3 shadow rounded bg-white mb-2">
                <div class="flex-1 flex items-center">
                    <img class="h-6 w-6 rounded-full mr-1"
                        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
                    <h4 class="font-medium text-sm">Andrew Johnstons</h4>
                </div>
                <div class="flex-1 flex items-center justify-end">
                    <button
                        class="py-1 px-2 bg-indigo-100 text-xs font-semibold text-indigo-700 rounded-lg">Manager</button>
                </div>
            </div>
            <div class="w-full flex flex-row p-3 shadow rounded bg-white mb-2">
                <div class="flex-1 flex items-center">
                    <img class="h-6 w-6 rounded-full mr-1"
                        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
                    <h4 class="font-medium text-sm">Andrew Johnstons</h4>
                </div>
                <div class="flex-1 flex items-center justify-end">
                    <button class="py-1 px-2 bg-cyan-100 text-xs font-semibold text-cyan-400 rounded-lg">Top
                        Trader</button>
                </div>
            </div>
            <div class="w-full flex flex-row p-3 shadow rounded bg-white mb-2">
                <div class="flex-1 flex items-center">
                    <img class="h-6 w-6 rounded-full mr-1"
                        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
                    <h4 class="font-medium text-sm">Andrew Johnstons</h4>
                </div>
                <div class="flex-1 flex items-center justify-end">
                    <button
                        class="py-1 px-2 bg-indigo-100 text-xs font-semibold text-indigo-700 rounded-lg">Manager</button>
                </div>
            </div>
        </div>
    </div>
    <div class="md:flex-1 w-full flex flex-wrap p-3">
        <div class="w-full flex flex-row mb-3">
            <div class="flex-1 flex items-center justify-start p-1">
                <h2 class="text-xl font-medium">Comparison</h2>
            </div>
            <div class="flex-1 flex items-center justify-end text-end p-1">
                <a class="text-sm text-blue-500 font-medium" href="">View all</a>
            </div>
        </div>
        <div class="w-full flex flex-col p-3 shadow rounded bg-white mb-2">
            <div class="md:w-1/4 w-full">
                <img class="h-6 w-auto" src="assets/images/united-states.png" alt="US">
            </div>
            <div class="w-full flex flex-row items-center mt-1">
                <div class="w-3/4 p-1 bg-green-400 mr-1"></div> <span class="text-xs font-semibold">93%</span>
            </div>
        </div>
        <div class="w-full flex flex-col p-3 shadow rounded bg-white mb-2">
            <div class="md:w-1/4 w-full">
                <img class="h-6 w-auto" src="assets/images/united-states.png" alt="US">
            </div>
            <div class="w-full flex flex-row items-center mt-1">
                <div class="w-2/3 p-1 bg-green-400 mr-1"></div> <span class="text-xs font-semibold">73%</span>
            </div>
        </div>
        <div class="w-full flex flex-col p-3 shadow rounded bg-white mb-2">
            <div class="md:w-1/4 w-full">
                <img class="h-6 w-auto" src="assets/images/united-states.png" alt="US">
            </div>
            <div class="w-full flex flex-row items-center mt-1">
                <div class="w-1/4 p-1 bg-green-400 mr-1"></div> <span class="text-xs font-semibold">13%</span>
            </div>
        </div>
    </div>
</div>
<div class="w-full md:my-0 my-32"></div>